<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="eu.kanade.tachiyomi.extension.all.smblibrary.CoverProvider"
            android:authorities="eu.kanade.tachiyomi.extension.all.smblibrary.cover"
            android:exported="true"
            android:grantUriPermissions="false" />
    </application>
</manifest>
